#list {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  background-color: #cccccc;
  opacity: 0.5;
  padding : 10px;
  font-family: Ubuntu;
  font-size: 25px;
}

#msgbox {
  height:600px ;
  overflow-y:scroll;
}
