<% include ../partials/header %>
	<div class="col s2">
		<a class="modal-trigger btn-floating btn-large waves-effect waves-light black" id="createGroup" href="#modal1"><i class="material-icons">add</i></a>	
	</div>
	<div id="modal1" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Create New Group</h4>
			<div class="input-field">
				<input placeholder="group-name" id="groupName" type="text" />
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat " id="cancel">Cancel</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " id="create">Create</a>
		</div>
	</div>

	<ul class="col s12">
		<% for(var i = 0; i < groups.length; ++i) { %>
			<li><a href="/group/<%=groups[i].groupname %>"><%=groups[i].groupname %></a></li>
		<% } %>
	</ul>
	<script type = "text/javascript">
		$('.modal-trigger').leanModal();
		/*$(document).on('click', '#group .collection-item', function() {
			group = $(this).attr('id');
			
		})*/
		$('#create').click(function() {
			var groupname = $('#groupName').val().trim();
			$('#groupName').val('');
			if(groupname.length !== 0) {
				$.post('/group/create', {groupname : groupname}, function(success) {
					if(success) {
						window.location.href = '/group/'+groupname;
					}
					else {
						alert('Invalid group-name');
					}
				}) 
			}
		})
		$('select').material_select();
	</script>
<% include ../partials/footer %>
